<template>
    <Container flex center column justifyCenter>
        <Title> #{{pokemon.id}} {{ pokemon.name }}</Title>
        <PokeDetails v-if="pokemon && pokemon.sprites"
            :name="pokemon.name" 
            :pictureNormal="pokemon.sprites.front_default"
            :pictureShiny="pokemon.sprites.front_shiny"
            :id="pokemon.id"
            :heigth="pokemon.height"
            :weigth="pokemon.weight"
            :abilities="pokemon.abilities"
            :types="pokemon.types"
        />
        <router-link :to="'/'">
            back
        </router-link>
    </Container>
</template>

<script>
import { mapGetters } from 'vuex'
import Container from '../components/elements/Container'
import PokeDetails from '../components/PokeDetails'
import Title from '../components/elements/Titlte'

export default {
    name: 'Pokemon',
    components: {
        PokeDetails,
        Container,
        Title,
    },
    computed: {
        ...mapGetters([
            'pokemon'
        ]),
    },
    created() {
        this.$store.dispatch('loadPokemonByName', this.$route.params.name)
    }
}
</script>
