<template>
    <Container flex center column>
        <Title>Pokedex</Title>
        <InputSearch type="text" v-model="search" placeholder="Chercher un pokemon par nom, type, id... exemple : poison"/>
        <PokeList :pokeList="filteredPokemons"/>
    </Container>
</template>

<script>
import { mapGetters } from 'vuex'
import Container from '../components/elements/Container'
import Title from '../components/elements/Titlte'
import InputSearch from '../components/elements/InputSearch'
import PokeList from '../components/PokeList'

export default {
    name: 'Pokemons',
    components: {
        PokeList,
        Container,
        Title,
        InputSearch
    },
    data() {
        return {
            search: ''
        }
    },
    computed: {
        ...mapGetters([
        'pokemons',
        ]),
    searchPokemons() {
        return this.pokemons.filter(pokemon => {
        return pokemon.name.toLowerCase().includes(this.search.toLowerCase()) ||
        String(pokemon.id).toLowerCase().includes(this.search.toLowerCase()) ||
        pokemon.types.map(item => item.type.name).includes(this.search.toLowerCase())
        })
    },
    filteredPokemons() {
        return this.searchPokemons
    }
},
methods: {

},
created() {
this.$store.dispatch('loadPokemons')
}
}
</script>