<template>
    <div>
        <Container pokeList flex row >
            <Card v-for="pokemon in pokeList" :key="pokemon.name">
                <router-link :to="`${pokemon.name}`">
                    <img :src="pokemon.sprites.front_default" alt="">
                    <h2>#{{pokemon.id}} {{pokemon.name}}</h2>
                </router-link>
            </Card>
        </Container>
    </div>
</template>

<script>
import Container from './elements/Container'
import Card from './elements/Card'

export default {
    name: 'PokeList',
    data() {
        return {
            search: ''
        }
    },
    components: {
        Container,
        Card
    },
    props: [
        'pokeList',
    ],
    methods: {
    }
}
</script>