<template>
    <Container pokeDetails flex column justifyCenter>
        <Container flex row spaceAround>
            <div>
                <img :src="pictureNormal" :alt="name"/>
                <h2>Normal</h2>
            </div>
            <div>
                <img :src="pictureShiny" :alt="name"/>
                <h2>Shiny</h2>
            </div>
            
        </Container>
        <container pokeInfo flex row spaceAround>
            <div>
                <h2>Sizes</h2>
                <p>Heigth: {{ heigth }}0 cm</p>
                <p>Weigth: {{ weigth }} kg</p>
            </div>
            <div>
                <h2>Abilities</h2>
                <ul>
                    <li v-for="item in abilities" :key="item.name">{{item.ability.name}}</li>
                </ul>
            </div>
            <div>
                <h2>Types</h2>
                <ul>
                    <li v-for="item in types" :key="item.name">{{item.type.name}}</li>
                </ul>
            </div>
        </container>
    </Container>
</template>

<script>
import Container from './elements/Container'

export default {
    name: 'PokeDetails',
    components: {
        Container,
    },
    props: [
        'id',
        'name',
        'pictureNormal',
        'pictureShiny',
        'weigth',
        'heigth',
        'abilities',
        'types'
    ] 
}
</script>