<template>
    <Card>
        <img :src="picture" alt="">
        <h3>#{{ id }} {{ name }}</h3>
        <p>{{ height }}</p>
        <p>{{ weigth }}</p>
        <ul>
            <li v-for="item in abilities" :key="item.name">{{item.ability.name}}</li>
        </ul>
        <ul>
            <li v-for="item in types" :key="item.name">{{item.type.name}}</li>
        </ul>
    </Card>
</template>

<script>
import Card from './elements/Card'

export default {
    name: 'PokeCard',
    components: {
        Card,
    },
    props: [
        'picture',
        'id',
        'name',
        'height',
        'weight',
        'abilities',
        'types'
    ]
}
</script>

